

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("lapVector.webp");
    background-size:cover;
    background-repeat: no-repeat;
}
#heading{
    color: white;
    position: relative;
    top: 20px;
    font-family: 'Fredoka One', cursive;

}
span{
    background: -webkit-linear-gradient(#eb3349, #f45c43);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#login a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}
#signup a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}

.main-container{
    position: absolute;
    top: 10rem;
}
.main-container ul{
    margin: 2rem;
    color: white;
    font-size: 1.3rem;
    font-family: 'Fredoka One', cursive;
}
.btn-container{
    font-family: 'Fredoka One', cursive;
    color: white;
    position: absolute;
    top: 21rem;
    left: 1.8rem;
}
.btn-sm{
    background-color: rgb(141, 79, 221);
    padding: 0.25rem 1.5rem;
    margin: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.btn-sm a{
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
}
.btn-sm:hover{
    background-color:whitesmoke;
}
.btn-sm:hover a{
    color: blue;
}

@media (max-width:1350px){
    html{
        font-size: 75%;
    }
}
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
